#logo{}

.white_gradient{background:#eee !important;}
.green_gradient{background:#749900 !important;}
.blue_gradient{background:#7ac8ff!important;}
.orange_gradient{background:#E16800 !important;}
.red_gradient{background: !important;}
.yellow_gradient{background:#DDC36F !important;}
.black_gradient{background:#212121 !important;}
.grey_gradient{background: !important;}
.brown_gradient{background:#392927 !important;}
